@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;900&family=Poppins&family=Roboto+Mono&display=swap");

body {
    margin: 0%;
    overflow: hidden;
    background-color: #222e48;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    font-weight: bold;
    color: red;
}

.toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

.tags {
    display: inline-block;
    padding: 50px;
}

.check {
    visibility: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 33px;
}

.slider {
    position: absolute;
    height: 33px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c8e7ff;
    transition: 2s;
    border-radius: 35px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 2s;
    border-radius: 50%;
}

input:checked+.slider::before {
    transform: translateX(26px);
}

.background {
    height: 90vh;
    width: 100vw;
    background-image: url("images/day.jpg");
    background-size: 100% 100%;
    transition: 4s;
    z-index: 0;
}

.sun,.moon {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 2;
    top:30px;
    left:30px;

}

.clouds {
    position: absolute;
}

.c1 {
    height: 14%;
    width: 17%;
    top: 13%;
    left: 9%;
    z-index: 3;
}

.c2 {
    height: 8%;
    width: 10%;
    top: 31%;
    left: 24%;
}

.c3 {
    height: 15%;
    width: 20%;
    top: 16%;
    left: 63%;
    z-index: 1;
}

.c4 {
    height: 11%;
    width: 16%;
    top: 33%;
    left: 77%;
}